$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$grid-gutter-width: 10px;
// $container-large-desktop: (1024px + $grid-gutter-width);
$screen-md: (965px+$grid-gutter-width);


$font-size: 35px;
$imgslide-width: 320px;
$borders: 3px solid black;
$bicycle-borders: 3px solid black;
$border-top: 5px solid black;
$fontdescription: 28px;
