$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// $container-large-desktop: (400px);

$font-size: 35px;
$imgslide-width: 320px;
$borders: 3px solid black;
$bicycle-borders: 3px solid black;
$border-top: 5px solid black;
$fontdescription: 28px;
